[submodule "external/whisper.cpp"]
	path = external/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
[submodule "external/doriax"]
	path = external/doriax
	url = https://github.com/doriaxengine/doriax.git
